.card{
    height: 310px;
    width: 18rem;
    margin: 10px;
    color: black;
    padding-bottom: 5px;
}

.card-articles{
    display: flex;
    justify-content: center;
    width: calc(100% - 200px);
}

.articles-container{
    flex-wrap: wrap;
    display: flex;
    width: 924px;
    margin-top: 30px;
}

.tags{
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tags>div{
    margin-right: -1px;
    border: 1px solid black;
    padding-right: 2px;
    padding-left: 2px;
    margin-bottom: -1px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.truncate{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 131px;
    margin-top: 0;
    margin-bottom: 1rem;
}