.card-articles.row {
    margin-top: 30px;
}

.submit a{
    margin-right:20px;
}

.article-container.col-md-10 {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    word-break: break-word;
    margin: 0;
    padding: 0 30px;
}

.restore-container {
    margin-top: 30px;
    padding: 20px;
    font-size: .9em;
}

.option {
    border-left: 1px solid #3a3a3d;
    padding: 20px;
    margin-bottom: 40px;
}

.actions {
    display: flex;
    flex-direction: column;
    color: #fff;
    border-left: 1px solid #3a3a3d;
    text-align: center;
}

.actions .btn {
    margin: 10px 0;
}