.header{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 150px;
    /*margin-bottom: 20px;*/
    background-color: #333744;
    -webkit-box-shadow: 0px 5px 11px 0px #212121; 
    box-shadow: 0px 5px 11px 0px #212121;
}